#Ignores All .log files
*.log
.vscode/* 
.vscode/settings.json
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
!.vscode/extensions.json/c_cpp_properties.json 
.history.vscode/settings.json