@font-face {
    font-family: PixelifySans;
    src: url(PixelifySans-Regular.ttf);
}

body {
    
    color: white;
    font-family: PixelifySans;
    margin: 0;
    padding: 0;
    box-sizing:content-box ;
}

h2 {
    float: left;
    margin: 0;
}

/* .mouse {
    width: 10px;
    height: 1px;
    background: white;
    border: 2px solid white;
    border-radius: 50%;
} */

.title-bar {
    background-color: #000080;
    color: white;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    
    
    justify-content: space-between;
}

.title-bar .title a {
    display: inline-block;
    animation: fadeIn 0.5s;
    text-decoration: none;
    color: white;
}

.blink {
    background-color: white;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    animation: blink 1s infinite;
}

.buttons {
    display: flex;
    gap: 5px;
}

.button {
    width: 10px;
    height: 10px;
    
    background-color: white;
    cursor:pointer;
}

.minimize { 
    background-color: yellow;
}

.maximize {
    background-color: skyblue;
}

.close {
    background-color: red;
}

button:hover {
    background-color: white;
    color: #008080;
}

hr { 
    margin-top: 25px
}

h2 {
    padding: 2px;
    text-align: center;
    
}

p { 
    font-size: larger;
}

h3 {
    color: beige; 


    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

h3, p {
    margin-bottom: 15px;
}


h3 + p {
    margin-top: 0;
    font-weight: bold;
}
body {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 0px solid white;
    border-radius: 10px;
    background-image:url(images/WINDOWS098BG.jpg); 
    
}


.content {
    padding-top: 20px;
}

a { 
    color: white;
}
a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

.box {
    background-color: beige;
        padding: 20px;
    border-radius: 10px;
}

.box h2,
.box hr,
.box p,
.box h3,
.box ul,
.box li,
.box a {
    color: black; 
}
