html {
    cursor: none;
    background-color: black;
    color: white;
}

h2 { 
    float: left;
}

.mouse {
    width: 12px;
    height: 5px;
    background: 20px white;
    border: 200px white;  
    border-radius: 50%;
}
